.dialig-container{
    position: relative;
    padding: 16px;

    >mat-progress-bar{
        position: absolute;
     left: -48px;
     top: 0px;
     
        
      
        width: calc(100% + 48px);
    }
}